<div class = "container">
  <div class = "hero-unit" style="margin-top:50px;" >
    <h2 style="margin-left:100px;" > KOORDİNATÖR VE HOCA TAKİP SİSTEMİ </h2><br/>
     <p  style="margin-left:250px;"> Buralara birşeyler yazılabilir.</p>
   </div>
  
  
		<%= button_to "DEVAM ET", "/upload", :class => 'btn btn-large btn-primary', \
			style: "width:220px;margin-top:25px;margin-left:3.5in;" %>
    

</div>

