<div class = "container">
  <div class = "hero-unit" style="margin-top:50px;" >
    <%= image_tag("uzem.png") %><h2 style="margin-left:2in;margin-top:-100px;" > KOORDİNATÖR VE HOCA TAKİP SİSTEMİ </h2><br/>
     
   </div>
   
   <% if current_user %>
	   <% if current_user.role == "manager" %>
			<%= button_to "DEVAM ET", "/upload_show", :class => 'btn btn-large btn-primary', \
				style: "width:220px;margin-top:25px;margin-left:3.5in;" %>
	   <% else %>
			<%= button_to "DEVAM ET", "/upload", :class => 'btn btn-large btn-primary', \
				style: "width:220px;margin-top:25px;margin-left:3.5in;" %>
	   <% end %>
   <% else %>
		<%= button_to "DEVAM ET", "/upload", :class => 'btn btn-large btn-primary', \
				style: "width:220px;margin-top:25px;margin-left:3.5in;" %>
   <% end %>

</div>

