<div class = "container" >
  <div class = "hero-unit" style="width:auto;margin-top:20px;margin-left:1.6in; " >
	<h2 > Açıklama </h2><br/>
		<%= form_for @upload, :html => { :multipart => true } do |f| %>
			<div class="field" >
				<%= f.text_area :content ,style: "width:5in;height:150px;",:disabled => 'disabled'%>
			</div>
		<% end %>
	</div>
	 
	  <%= link_to 'Geri Dön',"/upload_show", :class => 'btn btn-large btn-inverse',:style=>"color:#fff;width:100px;position:relative;left:4in;top:-50px" %>
	 
 </div>
